<header th:fragment="myheader"> <!-- każdy fragment posiada atrybut fragment ze swoją nazwą-->

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/shoppingCart/">ListaProduktów</a> <!-- tytuł menu-->
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/shoppingCart/">Strona główna</a></li>  <!-- przyciski menu-->
                <li><a href="/shoppingCart/seed">Generuj dane</a></li>
            </ul>
        </div>
    </nav>
</header>