<!-- w pliku pom.xml dodano zależność dla Thymeleaf Layout Dialect -->
<!-- mechanizam fragmentów - powtarzające się części kodu html można wydzielić do osobnych plików i odpowiednim atrybutem Thymeleaf wstawić do kodu w wybrane miejsce  -->

<!-- plik układu strony z dodanymi fragmentami -->
<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="text/html; UTF-8">
    <!-- zaimportowanie narzędzi-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title layout:fragment="title">Produkty</title>
</head>
<body>
<header th:replace="_shared/_header::myheader"> </header>
<main>
    <div layout:fragment="content">     <!-- fragment content - miejsce wypełaniane przez widoki -->
        <p>Zmiana kontentu</p>
    </div>
</main>
<footer th:replace="_shared/_footer::myfooter"> </footer>
</body>
</html>
