<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_shared/_layout"
      xmlns:th="http://www.thymeleaf.org">

<title>Lista produktów</title>

<div layout:fragment="content">
    <div class="header">
        <h1>Formularz zamówienia</h1>
    </div>
    <form action="/order/placeOrder" method="post" th:object="${customerOrder}">
        <!-- Wybór dostawy -->
        <fieldset>
            <legend>Wybór Dostawy</legend>
            <label>
                <input type="radio"  th:field="*{shipping.shippingType}" th:value="COURIER" required>
                Kurier - Cena: 20 zł
            </label>
            <label>
                <input type="radio" th:field="*{shipping.shippingType}" th:value="POST_OFFICE" required>
                Poczta - Cena: 15 zł
            </label>
        </fieldset>

        <!-- Metoda płatności -->
        <fieldset>
            <legend>Metoda Płatności</legend>
            <label>
                <input type="radio" th:field="*{payment.paymentType}" th:value="BANK_TRANSFER" required>
                Online
            </label>
            <label>
                <input type="radio" th:field="*{payment.paymentType}" th:value="CASH_ON_DELIVERY" required>
                Przy Odbiorze
            </label>
        </fieldset>

        <!-- Formularz adresu dostawy -->
        <fieldset>
            <legend>Formularz Adresu Dostawy</legend>
            <label>
                Miejscowość:
                <input type="text" th:field="*{shipping.shippingCity}" required>
            </label>
            <label>
                Ulica:
                <input type="text" th:field="*{shipping.shippingStreet}" required>
            </label>
            <label>
                Numer ulicy:
                <input type="number" th:field="*{shipping.shippingStreetNumber}" required>
            </label>
            <label>
                Numer mieszkania:
                <input type="number" th:field="*{shipping.shippingHouseNumber}" required>
            </label>
            <label>
                Kod pocztowy:
                <input type="number" th:field="*{shipping.shippingPostalCode}" pattern="[0-9]{2}-[0-9]{3}" placeholder="np. 57-300" required>
            </label>
        </fieldset>

        <fieldset>
            <legend>Dodaj rabat</legend>
            <label>
                Dostępne rabaty:
                <select th:field="*{discount.name}">
                    <option th:each="discount : ${availableDiscounts}" th:value="${discount.name}" th:text="${discount.name}"></option>
                </select>
            </label>
        </fieldset>
<!--        <input type="hidden" th:field="${customerOrder.shoppingCart}">-->
        <input type="submit" value="Złóż zamówienie">
    </form>
</div>

</html>
