<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_shared/_layout"
      xmlns:th="http://www.thymeleaf.org">

<title>Zamówienie złożone</title>

<div layout:fragment="content">
    <div class="header">
        <h1>Zamówienie złożone</h1>
    </div>
    <div>
        <p>Twoje zamówienie zostało pomyślnie złożone. Poniżej znajdziesz szczegóły zamówienia:</p>
        <p>Numer zamówienia: <span th:text="${customerOrder.orderId}"></span></p>
        <p>Metoda płatności:
<!--            <span th:text="${customerOrder.payment.paymentType}"></span>-->
            <span th:if="${customerOrder.payment.paymentType == 'BANK_TRANSFER'}"> - Płatność Online</span>
            <span th:else> - Płatność przy odbiorze</span>
        </p>
        <p>Sposób dostawy:
            <!--            <span th:text="${customerOrder.payment.paymentType}"></span>-->
            <span th:if="${customerOrder.shipping.shippingType == 'COURIER'}"> - Kurier</span>
            <span th:else> - Poczta</span>
        </p>
        <p>Adres dostawy:</p>
<!--        <p>Adres dostawy: <span th:text="${customerOrder.shipping.shippingCity}, ul. ${customerOrder.shipping.shippingStreet} ${customerOrder.shipping.shippingStreetNumber}/${customerOrder.shipping.shippingHouseNumber}, ${customerOrder.shipping.shippingPostalCode}"></span></p>-->
        <p>Miasto: <span th:text="${customerOrder.shipping.shippingCity}"></span></p>
        <p>Ulica: <span th:text="${customerOrder.shipping.shippingStreet}"></span>
            <span th:text="${customerOrder.shipping.shippingStreetNumber}"></span>
            <span>/</span>
            <span th:text="${customerOrder.shipping.shippingHouseNumber}"></span></p>
        <p>Kod pocztowy: <span th:text="${customerOrder.shipping.shippingPostalCode}"></span></p>
        <div>
            <h3>Całkowita kwota zamówienia: <span th:text="${customerOrder.orderTotalPrice}"></span> zł</h3>
            <p>Wartość koszyka: <span th:text="${shoppingCart.totalPrice}"></span> zł</p>
            <p>Rabat: <span>-</span><span th:text="${customerOrder.discountTotalPrice}"></span> zł</p>
            <p>Dostawa: <span th:text="${customerOrder.shipping.shippingPrice}"></span> zł</p>
        </div>
    </div>
</div>
