<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header th:replace="mainPageLayout :: header"></header>

<form action="/products/add" method="post" th:object="${newProduct}">
    <label>Nazwa produktu: <input type="text" th:field="*{productName}"/></label><br/>
    <label>Kategoria produktu: <input type="text" th:field="*{category.name}"/></label><br/>
    <label>Ilość produktu: <input type="number" th:field="*{quantity}"/></label><br/>
    <label>Cena produktu: <input type="text" th:field="*{price}"/></label><br/>
    <label>Zdjęcie produktu: <input type="image" th:field="*{image}"/></label><br/>
    <label>Opis produktu: <input type="text" th:field="*{description}"/></label><br/>

    <button type="submit">Add Product</button>
    <a th:href="@{/employees/mainScreen}">
        <button type="button">Anuluj</button>
    </a>
</form>


</body>
</html>